@font-face {
  font-family: 'grux';
  src:url('grux.eot');
  src:url('grux.eot?#iefix') format('embedded-opentype'),
    url('grux.svg#grux') format('svg'),
    url('grux.woff') format('woff'),
    url('grux.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qlassikbold';
  src:url('qlassikbold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'serious';
  src:url('serious.eot');
  src:url('serious.eot?#iefix') format('embedded-opentype'),
    url('serious.svg#serious') format('svg'),
    url('serious.woff') format('woff'),
    url('serious.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'figa';
  src:url('figa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sequence';
  src:url('wg_sequence_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tua';
  src:url('tua.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.firstcharacter { color: #62A4CA; padding-right: 10px}

/*.firstcharacter { float: left; color: #62A4CA; font-size: 3em; line-height: 2em; padding-top: 4px; padding-right: 8px; padding-left: 3px; }*/
