html,body { height:100%; }

.no-padding {
  padding-left: 0;
  padding-right:0;
}

.black-background{
  background: black;
}

.white-background {
  background: white;
}

.flat-textarea {
  border: none;
border-radius: 3px;
width: 100%;
height: 80px;
color: #449D44;
font-size: 20px;
}

.footer-style{
  padding-top:150px;
  padding-bottom: 30px;
}

.hover-number {
    font-size:8em;
    font-family: figa;
    position: relative; /* Just for presentation (Not required) */
    transition:height 0.5s; /* Animation time */
    -webkit-transition:height 0.5s; /* For Safari */
}
.hover-number:hover {
    font-size:15em; /* This is the height on hover */
}

.number-style{
font-size:8em;
    font-family: figa;
}