.stickynote {
  background: url('assets.png') no-repeat -208px -678px;
  width: 152px;
  height: 152px;
}

.blue-note {
  background: url('assets.png') no-repeat -40px -677px;
  width: 152px;
  height: 152px;
}

.transparent_note {
  background: url('assets.png') no-repeat -364px -1086px;
  width: 175px;
  height: 176px;
  position: relative;
}

.transparent_note2 {
  background: url('assets.png') no-repeat -364px -1086px;
  width: 175px;
  height: 176px;
}

.grey_note {
  background: url('assets.png') no-repeat -208px -678px;
  width: 152px;
  height: 152px;
}

.top-thumbail {
  width:152px;
  height:40px;
  position: absolute;
  text-align: center;

}

.message-box {
  background: url('assets.png') no-repeat -14px -2805px;
  width: 423px;
  height: 212px;
}